.main-product-detail {
    padding: 6.4rem 0 4.6rem;
}

.main-product-detail__card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.main-product-detail__card {
    margin: 0;
}

